<div class="container my-5">
  <div class="row">
    <form class="col-sm-4 mx-auto" [formGroup]="loginForm" novalidate>

      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" required [ngClass]="{
          validInput   : email.valid && email.dirty,
          invalidInput : email.invalid && email.dirty
        }">
        <div style="color:red" *ngIf="email.errors && (email.dirty || email.touched)">
          <small *ngIf="email.errors.minlength">Email is required.</small>
          <small *ngIf="email.errors.email">Email is not valid.</small>
        </div>
      </div>
      <!-- <pre>Dirty? {{ email.dirty }}</pre> -->
      <!-- <pre>Pristine? {{ email.pristine }}</pre> -->
      <!-- <pre>Touched? {{ email.touched }}</pre> -->
      <!-- <pre>Untouched? {{ email.untouched }}</pre> -->
      <!-- <pre>Valid? {{ email.valid }}</pre> -->
      <!-- <pre>Invalid? {{ email.invalid }}</pre> -->

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" formControlName="password" required [ngClass]="{
          validInput   : password.valid && password.dirty,
          invalidInput : password.invalid && password.dirty
        }">
        <div style="color:red" *ngIf="password.errors && (password.dirty || password.touched)">
          <small *ngIf="password.errors.required">Password is required.</small>
          <small *ngIf="password.errors.minlength">Password must be 7 characters long.</small>
        </div>
      </div>
      <!-- <pre>Valid? {{ password.valid }}</pre> -->
      <!-- <pre>Invalid? {{ password.invalid }}</pre> -->
      <!-- <pre>Errors required? {{ password.errors.required }}</pre>
      <pre>Errors min? {{ password.errors.minlength }}</pre> -->

      <button class="btn btn-primary" (click)="showErrors()">Submit</button>

      <!-- <pre>{{loginForm.value | json}}</pre> -->

    </form>
  </div>
</div>
